@page "/"

<PageTitle>Home</PageTitle>

<div class="border rounded-sm bg-white shadow h-full w-full flex p-5">

    <div class="w-full">

        <h1 class="font-2xl">Hello, world!</h1>

        <span>Welcome to your new app.</span>

    </div>

</div>

