@inherits LayoutComponentBase

<div class="w-full flex h-full flex flex-col overflow-y-auto">

    <TopNav />

    <div class="flex  w-full px-5">

        <div class="mx-auto mx-2 flex h-full w-full max-w-[1840px] py-5 min-h-[50vh]">

            @Body


        </div>

    </div>



</div>